/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.restore-strategies-hide {
        display: none;
}

article.restore-strategies-opp {
        float: left;
        margin: 0 1em 1em 0;
        padding: 1em;
        width: 45%;
        background: whitesmoke;
        position: relative;
}

article.restore-strategies-opp.restore-strategies-opp-single {
        float: left;
        margin: auto;
        width: 75%;
}

body.restore_strategies-template-default article.restore-strategies-opp.restore-strategies-opp-single {
        margin: 1em 10%;
}

article.restore-strategies-opp h3 {
        margin: 0.25em 0;
}

article.restore-strategies-opp div {
        float: left;
        margin-bottom: 1em;
}

article.restore-strategies-opp div.restore-strategies-opp-content {
        margin-bottom: 0;
        height: 250px;
        overflow: hidden;
        float: left;
        position: relative;
        background: inherit;
}

article.restore-strategies-opp div.full_content {
        height: auto !important;
}

div.restore-strategies-opp-fader {
    bottom: 0;
    right: 0;
    float: left;
    width: 100%;
    height: 30px;
    position: absolute;
    top: 236px;
    margin: 0 !important;
    background: linear-gradient(to top, #f5f5f5 30%, rgba(255,255,255,0));
}

article.restore-strategies-opp div.details {
        border-top: 1px solid;
}

article.restore-strategies-opp div.details div {
        width: 100%;
        margin: 0.25em;
}

article.restore-strategies-opp dt {
        margin-right: 0.25em;
}

article.restore-strategies-opp dt, article.restore-strategies-opp dd {
        margin-bottom: 0.25em;
        display: inline;
}

article.restore-strategies-opp div.links a {
        display: block;
        float: left;
        margin-right: 1em;
        padding: 0.5em;
        background: white;
        color: black;
        text-decoration: none;
}

section.restore-strategies-search-box {
        margin-bottom: 1em;
        float: left;
        width: 100%;
}

section.restore-strategies-search-box ul {
        list-style: none;
        margin: 1em;
        text-align: left;
}

div.restore-strategies-search-categories {
        float: left;
        padding: 1em;
        background: whitesmoke;
}

section.restore-strategies-search-box ul input {
        width: auto;
}

div.restore-strategies-search-buttons {
        display: block;
        float: left;
        width: 245px;
}

div.restore-strategies-search-buttons button {
        display: block;
        float: left;
        margin-left: 0.5em;
}

section.restore-strategies-search-box input[type='search'] {
        max-width: 70%;
        display: block;
}

section.restore-strategies-search-box input {
        float: left;
}

section.restore-strategies-search-box div.restore-strategies-search-category {
        float: left;
        width: 33%;
}

div.restore-strategies-search-category h6 {
        text-align: left;
        margin-bottom: 0.25em;
}

div.restore-strategies-search-results {
        float: left;
        width: 100%;
        margin-top: 1em;
}

section.restore-strategies-signup {
        float: left;
        clear: both;
        margin-bottom: 1em;
        padding: 0 10%;
}

section.restore-strategies-signup .error {
        color: red;
        font-weight: bolder;
        list-style-position: inside;
}

body.restore_strategies-template-default footer {
        clear: both;
}

section.restore-strategies-signup input[type="text"],
section.restore-strategies-signup input[type="email"],
section.restore-strategies-signup input[type="tel"],
section.restore-strategies-signup span {
        width: 45%;
        float: left;
        margin: 0 5% 1em 0;
}

section.restore-strategies-signup textarea {
        width: 95%;
        margin-bottom: 1em;
}

section.restore-strategies-signup button {
        clear: both;
        display: block;
}

section.restore-strategies-slider-container {
        float: left;
        margin-bottom: 1em;
        margin-top: 1em;
}

section.restore-strategies-slider-container .arrows button.slick-prev {
        float: left;
}

section.restore-strategies-slider-container .arrows button.slick-next {
        float: right;
}

section.restore-strategies-slider-container section.restore-strategies-slider article.restore-strategies-opp {
        margin-right: 0;
}
section.restore-strategies-slider-container section.restore-strategies-slider article div.links a.details-link {
        display: none;
}

@media screen and (max-width: 920px) {
        article.restore-strategies-opp {
                width: 100%;
        }
}
